@{ Layout = null; }
@model AdminVM
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetici Sayfası</title>
    <link rel="stylesheet" href="/css/AdminLogin.css" />
</head>

<body>
    <form class="form-horizontal" controller="Admins" action="Login" method="post">
        <div class="container">
            <div class="content">
                <div class="amblem">
                    <img src="/image/amblem.png" class="d-inline-block align-text-top">
                </div>
                <div class="headtext">
                    <h2>Taşkışla Kütüphanesi</h2>
                </div>
                <div class="admintext">
                    <h3>Yönetici Girişi</h3>
                </div>
            </div>
            <div class="form-group">
                <input type="email" placeholder="E-mail" name="Email" value=@Model.Email>
            </div>
            <div class="form-group" style="margin-top:15px">
                <input type="password" placeholder="Şifre" name="Password" value=@Model.Password>
            </div>
        </div>
        <div>
            <button class="btn-login" type="submit">Giriş</button>
        </div>
    </form>
</body>


</html>