
@{
    ViewData["Title"] = "Kategori Ekle ";
}
<head>
    <link rel="stylesheet" href="~/css/Pages.css" />
</head>
<div class="container">
    <div class="content">
        <form action="/Categories/Save" method="post">
            @{
                if (ViewBag.message != null)
                {
                    <div class="alert alert-danger">@ViewBag.message</div>
                } }
            <div class="mb-3">
                <label class="form-label">Kategori Adı</label>
                <input type="text" name="Name" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <button type="submit" class="btn btn-success  col-md-3">Kayıt Ekle</button>

        </form>
    </div>
</div>

