@{ ViewData["Title"] = "Kullanıcı Ekleme"; }
<head>
    <link rel="stylesheet" href="/css/Pages.css" />
</head>
<div class="container">
    <div class="content">
        <form action="/Users/Save" method="post">
            @{ if (ViewBag.message != null)
                {
    <div class="alert alert-danger">@ViewBag.message</div> } }
            <div class="mb-3">
                <label class="form-label">Okul Numarası</label>
                <input type="text" name="IdNumber" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <div class="mb-3">
                <label class="form-label">Ad-Soyad</label>
                <input type="text" name="FullName" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <div class="mb-3">
                <label class="form-label">Fakülte</label>
                <input type="text" name="Faculty" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <div class="mb-3">
                <label class="form-label">Bölüm</label>
                <input type="text" name="Department" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="text" name="Email" class="form-control" style="width: 516px;
              height: 40px;
              border: none;
              border-bottom: 0.5px solid;
              font-weight: 500;
              font-size: 14px;
              background-color: rgba(255, 255, 255, 0.25);
              color: black;">
            </div>
            <div class="mb-3">
                <label class="form-label">Telefon Numarası</label>
                <input type="text" name="PhoneNumber" class="form-control">
            </div>
            <button type="submit" class="btn btn-success  col-md-3">Ekle</button>
        </form>
    </div>
</div>