
@{
    ViewData["Title"] = "Yazar Ekle ";
}
<head>
    <link rel="stylesheet" href="~/css/Pages.css" />
</head>
<div class="container">
    <div class="content">
        <form action="/Authors/Save" method="post">
            @{
                if (ViewBag.message != null)
                {
                    <div class="alert alert-danger">@ViewBag.message</div>
                } }
            <div class="mb-3">
                <label class="form-label">Yazar Adı-Soyadı</label>
                <input type="text" name="Name" class="form-control">
            </div>
            <button type="submit" class="btn btn-success  col-md-3">Kayıt Ekle</button>

        </form>
    </div>
</div>

